<section class="property-types">
  <div class="container">
    <h2><b>Property Types</b></h2>
    <p class="description  text-black ">
      Explore diverse property options tailored to meet your needs. From modern
      apartments to luxurious villas, find the perfect match for your lifestyle.
    </p>

    <div class="property-grid">
      <div class="property-card" *ngFor="let type of propertyTypes">
        <div class="icon-circle">
          <img [src]="type.iconPath" [alt]="type.name + ' icon'" class="property-icon">
        </div>
        <h3>{{type.name}}</h3>
        <p class="property-count">{{type.count}} Properties</p>
      </div>
    </div>
  </div>
</section>
