.parent{
background-image: url('src/assets/userloginbg/admin login..jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container{
background-color: rgba(255, 255, 255, 0.925);
backdrop-filter: blur(10px);
}


h2 {
  text-align: center;
  color: #333; /* Keep text visible */
}
/*
input,
select {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #333;
} */

label {
  font-weight: bold;
}


.error-message {
  grid-column: span 2;
  color: red;
  text-align: center;
  margin-top: 10px;
}


.alert {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.password-input {
  padding-right: 10px; /* Ensure space for the icon */
}

/* Password Input Field Styles */
 .input-group {
  position: relative;
}

.input-group .btn-outline-secondary {
  border-left: none;
  box-shadow: none;
}



.input-group .bi {
  font-size: 16px;

}

/* Error Message Styling */
.text-danger.small {
  font-size: 13px;
  margin-top: 5px;
}

.eyeback
{
  background-color: #ffffff !important;
}
