<div class="card">
  <div class="card-header">User List</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Role</th>
            <th>Experience</th>
            <th>Rating</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agent of agents">
            <td>{{ agent.id }}</td>
            <td>{{ agent.username }}</td>
            <td>{{ agent.fullname }}</td>
            <td>{{ agent.email }}</td>
            <td>{{ agent.mobileNo }}</td>
            <td>{{ agent.role }}</td>
            <td>{{ agent.experience }}</td>
            <td>{{ agent.rating }}</td>
            <td>{{ agent.status }}</td>
           
            <td>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
