
<div class="hero-container">
    <div class="overlay"></div>
    <div class="content">
      <h1 style="font-size: 49px; font-weight: bold;">Where Unique Homes <br> Meet Unique People.</h1>
<p style="font-size: 25px;">Your Dream Home, Just a Click Away.</p>

      <button class="btn">View Properties</button>
    </div>
  </div>

  <div class="about-container">
    <div class="about-content">
      <h2>About The Nest Propify</h2>
      <p>
        At The Nest Propify, we believe that finding the perfect property should be a seamless
        and transparent experience. With years of expertise and a deep understanding of the real estate
        market, we are committed to helping you make informed decisions when buying, selling, or renting properties.
      </p>
      <button class="btn">Get In Touch</button>
    </div>
    <div class="about-image">
      <img src="/assets/Re images/10.png" alt="Interior Home">
    </div>
  </div>

  <div class="why-choose-container">
    <div class="image-container">
      <img src="/assets/Re images/11.png" alt="Beautiful Kitchen">
    </div>
    <div class="content-container">
      <h2>Why Choose The Nest Propify?</h2>
      <ul>
        <li><strong>Expert Team:</strong> Guided by expertise, delivering excellence in every property transaction.</li>
        <li><strong>Client-Centric Approach:</strong> Your needs, our priority—tailored solutions for every dream home.</li>
        <li><strong>Innovative Technology:</strong> Revolutionizing real estate with cutting-edge tech solutions.</li>
        <li><strong>Comprehensive Services:</strong> From listings to loans—your one-stop destination for all real estate needs.</li>
        <li><strong>Trust and Integrity:</strong> Building lasting relationships on a foundation of trust and transparency.

        </li>
      </ul>
    </div>
  </div>


  <div class="mission-vision-container">
    <div class="content-wrapper">
      <div class="mission-section">
        <h1>{{mission.title}}</h1>
        <p>{{mission.content}}</p>
      </div>

      <div class="vision-section">
        <h1>{{vision.title}}</h1>
        <p>{{vision.content}}</p>
      </div>
    </div>
  </div>









