
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->


<body>
  <div class="container">
    <h2>Admin Registration</h2>
    <span class="close-btn" (click)="closeLogin()" role="button" aria-label="Close registration form">&times;</span>

    <form (ngSubmit)="registerAdmin()" #adminForm="ngForm">

      <div>
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="admin.username" name="username" required
          [placeholder]="getPlaceholderText('username', 'Enter Username')" />
      </div>

      <div>
        <label for="fullname">Full Name:</label>
        <input id="fullname" [(ngModel)]="admin.fullname" name="fullname" required
          [placeholder]="getPlaceholderText('fullname', 'Enter Full Name')" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="admin.email" name="email" type="email" required
          [placeholder]="getPlaceholderText('email', 'Enter Email')" />
      </div>

      <div>
        <label for="password">Password:</label>
          <input id="password" [(ngModel)]="admin.password" name="password" [type]="showPassword ? 'text' : 'password'" required
            [placeholder]="getPlaceholderText('password', 'Enter Password')" class="form-control password-input" />
      </div>



      <div>
        <label for="mobileNo">Mobile No:</label>
        <input id="mobileNo" [(ngModel)]="admin.mobileNo" name="mobileNo" required
          [placeholder]="getPlaceholderText('mobileNo', 'Enter Mobile No')" />
      </div>

      <div>
        <label for="role">Role:</label>
        <select id="role" [(ngModel)]="admin.role" name="role" required>
          <option value="">Select Role</option>
          <option value="ADMIN">Admin</option>
          <option value="USER">User</option>
        </select>
      </div>

      <div>
        <label for="status">Status:</label>
        <select id="status" [(ngModel)]="admin.status" name="status" required>
          <option value="">Select Status</option>
          <option value="ACTIVE">Active</option>
          <option value="INACTIVE">Inactive</option>
        </select>
      </div>

      <div>
        <label for="profilePicture">Profile Picture:</label>
        <input type="file" (change)="onFileChange($event)" />
      </div>

      <button type="submit">Register</button>

      <div *ngIf="errorMessage" class="error-message alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message alert alert-success">{{ successMessage }}</div>
    </form>
  </div>
</body>

