/*** Team ***/
.team-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, .08);
  transition: .5s;
}

.team-item .btn {
  color: var(--primary);
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
  color: #FFFFFF;
  background: var(--primary);
}

.team-item:hover {
  border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--secondary) !important;
}



