<!-- !  testing code  -->

<div class="container-xxl bg-white p-0">

  <app-navbar></app-navbar>

  <!-- Header Start -->
  <!-- <section class="hero"> -->
  <section class="hero mt-5 pt-5">

    <div class="hero-content">
      <div class="hero-text">
        <h1>
          Find A <span class="highlight">Perfect Home</span> To<br>
          Live With Your Family
        </h1>
        <p>
          Discover your dream home with us. Choose from
        a variety of options to find the perfect place for your family
        </p>
        <button class="get-started-btn">Get Started</button>
      </div>

      <div class="gallery">
        <!-- <button class="gallery-nav prev" (click)="previousImage()">
          </button> -->

        <div class="gallery-container">
          <img [src]="images[currentImageIndex]" alt="Property image" class="gallery-image">
        </div>

        <!-- <button class="gallery-nav next" (click)="nextImage()"> -->
        <!-- </button> -->
      </div>
    </div>
  </section>



  <!-- Header End -->

  <app-searchbar></app-searchbar>
  <app-feature-property></app-feature-property>
  <app-property-type></app-property-type>

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="../../assets/homeimages/10.png">
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
          <p class="mb-4">Discover the best properties at unbeatable prices. We
            ensure a seamless process to help you find your dream home or investment. Experience reliability and
            quality service like never before.</p>
          <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
          <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
          <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
          <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->


  <!-- Call to Action Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <img class="img-fluid rounded w-100" src="../../assets/homeimages/6.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="mb-4">
                <h1 class="mb-3">Contact With Our Certified Agent</h1>
                <p>Connect with our trusted agents for personalized assistance.
                  Whether buying, selling, or renting, our experts are here to guide you every step of the way.</p>
              </div>
              <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
              <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action End -->

  <app-property-agent></app-property-agent>
  <app-clientsay></app-clientsay>
  <app-footer></app-footer>

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
